.shadow {
	text-shadow: 1px 1px 1px #000 !important;
}
.quote {
	text-align: justify;
	font-style: italic !important;
}

.quote:before {
	content: "\201C";
}

.quote:after {
	content: "\201D";
}

.ref {
	text-align: left;
}


.box {
	padding: 30px !important;
	border-radius: 10px;
	background-color: #000;
	background: rgba(0,0,0,0.7)    /* 70% opaque red */  
}

li.ident {
	list-style-type: circle;
	margin-left: 30px;
}

.photo {
	box-shadow: 30px 30px 10px 5px #000;
}

.poster {
	float: left;
	_border: 1px solid red !important;
	display: inline;
}

.poster p {
	color: #fff;
	background-color: #000;
	text-align: center;
	padding: 10px;
	margin: 10px;
}
